<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>

        <Property name="LOG_DIR" value="logs/"/>

        <Property name="COMMON_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%F:%L) %-5level %logger{36} --- %msg%n
        </Property>

        <Property name="CONSOLE_PATTERN">
            %highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%F:%L) %-5level %logger{36} --- %msg%n}{ERROR=red, WARN=yellow, INFO=bright_white, DEBUG=white}
        </Property>

        <Property name="ROLLING_PATTERN">
            %d{ISO8601} %-5p [%t] (%F:%L) --- %m%n
        </Property>

        <Property name="FAIL_LOG_PATTERN">
            %m%n
        </Property>

    </Properties>

    <Appenders>
        <Console name="ConsoleLog" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_PATTERN}" disableAnsi="false"/>
            <ThresholdFilter level="debug" onMatch="ACCEPT" />
        </Console>

        <RollingFile name="common" fileName="${LOG_DIR}general/common.log"
                     filePattern="${LOG_DIR}general/common.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="${ROLLING_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="enet" fileName="${LOG_DIR}enet/enet.log"
                     filePattern="${LOG_DIR}enet/enet.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="${ROLLING_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="mutex" fileName="${LOG_DIR}mutex/mutex.log"
                     filePattern="${LOG_DIR}mutex/mutex.%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="${ROLLING_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

    </Appenders>


    <Loggers>

        <!--Core-->

        <Root level="debug">
            <AppenderRef ref="ConsoleLog"/>
        </Root>

        <Logger name="common" level="debug">
            <AppenderRef ref="common"/>
        </Logger>

        <Logger name="enet_binding" level="info">
            <AppenderRef ref="enet"/>
        </Logger>

        <Logger name="mutex" level="debug">
            <AppenderRef ref="mutex"/>
        </Logger>


    </Loggers>
</Configuration>